.btnShow {
  background: inherit;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;

  &__image {
    height: 25px;
    width: 25px;
    background: inherit;
  }

  &__imageRotate {
    height: 25px;
    width: 25px;
    background: inherit;
    transform: rotate(45deg);
  }

  &__text {
    color: white;
    font-size: 14px;
  }
}