.btnShow {
  background: inherit;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;

  &__image {
    height: 25px;
    width: 25px;
    background: inherit;
    transition: transform 0.4s;

  }

  &__imageRotate {
    height: 25px;
    width: 25px;
    background: inherit;
    transform: rotate(45deg);
    transition: transform 0.4s;

  }

  &__text {
    color: white;
    font-size: 14px;
    transition: transform 0.4s;

  }
}