.main {
  overflow: hidden;

  &__container {
    max-width: 1150px;
    position: relative;
    margin: 0 auto;
  }

  &__actionForm {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__formTask {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    transition: opacity 0.6s ease-in-out, height 0.6s ease-in-out;
  }

  &__formTaskNoShow {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0;
    height: 0;
    transition: opacity 0.6s ease-in, height 0.6s ease-in;
  }
}